In [2]:
import pandas as pd

In [2]:
import pandas as pd
import os

# Définir les chemins vers les fichiers CSV
file_paths = [
    "/home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/data/meteo/oldReg_MeteoFR_2018-01-01_2018-12-31.csv",
    "/home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/data/meteo/oldReg_MeteoFR_2019-01-01_2019-12-31.csv",
    "/home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/data/meteo/oldReg_MeteoFR_2020-01-01_2020-12-31.csv",
    "/home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/data/meteo/oldReg_MeteoFR_2021-01-01_2021-01-31.csv"
]

# Liste pour stocker les DataFrames
dataframes = []

# Lire chaque fichier CSV et l'ajouter à la liste des DataFrames
for file in file_paths:
    try:
        df = pd.read_csv(file)
        dataframes.append(df)
        print(f"Fichier {file} chargé avec succès.")
    except Exception as e:
        print(f"Erreur lors du chargement du fichier {file}: {e}")

# Combiner tous les DataFrames en un seul
combined_df = pd.concat(dataframes, ignore_index=True)

# Sauvegarder le DataFrame combiné dans un nouveau fichier CSV
combined_df.to_csv("combined_meteo_data.csv", index=False,sep=';')

print("Les fichiers CSV ont été fusionnés avec succès.")

Fichier /home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/data/meteo/oldReg_MeteoFR_2018-01-01_2018-12-31.csv chargé avec succès.
Fichier /home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/data/meteo/oldReg_MeteoFR_2019-01-01_2019-12-31.csv chargé avec succès.
Fichier /home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/data/meteo/oldReg_MeteoFR_2020-01-01_2020-12-31.csv chargé avec succès.
Fichier /home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/data/meteo/oldReg_MeteoFR_2021-01-01_2021-01-31.csv chargé avec succès.
Les fichiers CSV ont été fusionnés avec succès.

In [3]:
df_méteo= pd.read_csv('/home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/combined_meteo_data.csv', sep=';')

In [4]:
df_méteo.head()

,Unnamed: 0,TempMax_Deg,TempMin_Deg,Wind_kmh,Wet_percent,Visibility_km,CloudCoverage_percent,Dayduration_hour,region,day
0,alsace_2018/01/01,9.0,6.0,25,74,8.250,70.0,8:23:0,alsace,2018/01/01
1,aquitaine_2018/01/01,12.0,10.0,37,76,9.375,59.0,8:52:0,aquitaine,2018/01/01
2,ardeche_2018/01/01,8.0,5.0,17,89,10.000,51.0,8:53:0,ardeche,2018/01/01
3,auvergne_2018/01/01,6.0,4.0,39,85,9.625,60.0,8:45:0,auvergne,2018/01/01
4,bourgogne_2018/01/01,8.0,5.0,38,86,9.625,76.0,8:33:0,bourgogne,2018/01/01

In [5]:
df_méteo.rename(columns={'region': 'région'}, inplace=True)
df_méteo.rename(columns={'day': 'date'}, inplace=True)
df_méteo.head()

,Unnamed: 0,TempMax_Deg,TempMin_Deg,Wind_kmh,Wet_percent,Visibility_km,CloudCoverage_percent,Dayduration_hour,région,date
0,alsace_2018/01/01,9.0,6.0,25,74,8.250,70.0,8:23:0,alsace,2018/01/01
1,aquitaine_2018/01/01,12.0,10.0,37,76,9.375,59.0,8:52:0,aquitaine,2018/01/01
2,ardeche_2018/01/01,8.0,5.0,17,89,10.000,51.0,8:53:0,ardeche,2018/01/01
3,auvergne_2018/01/01,6.0,4.0,39,85,9.625,60.0,8:45:0,auvergne,2018/01/01
4,bourgogne_2018/01/01,8.0,5.0,38,86,9.625,76.0,8:33:0,bourgogne,2018/01/01

In [6]:
len(df_méteo)

25921

In [7]:
df_méteo.columns

Index(['Unnamed: 0', 'TempMax_Deg', 'TempMin_Deg', 'Wind_kmh', 'Wet_percent',
       'Visibility_km', 'CloudCoverage_percent', 'Dayduration_hour', 'région',
       'date'],
      dtype='object')

In [8]:
print(df_méteo['date'].unique())

['2018/01/01' '2018/01/02' '2018/01/03' ... '2021/01/29' '2021/01/30'
 '2021/01/31']

### meteo 2018 - 2024

In [93]:
df_meteo_2018_2024= pd.read_csv('/home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/data/meteo_data_2018_2024.csv', sep=';')

In [94]:
df_meteo_2018_2024.head()

,Forecast timestamp,Position,Forecast base,2 metre temperature,Minimum temperature at 2 metres,Maximum temperature at 2 metres,2 metre relative humidity,Total precipitation,10m wind speed,Surface net solar radiation,Surface net thermal radiation,Surface solar radiation downwards,Surface latent heat flux,Surface sensible heat flux,Commune,code_commune
0,2024-01-02 14:00:00+01:00,"53.0, -8.0",2024-01-02T13:00:00+01:00,8.601007,8.564172,8.676233,93.515297,1.747070,6.150576,57583.242188,-20848.4375,70190.218750,-68846.00,45555.875,NaN,NaN
1,2024-01-02 13:00:00+01:00,"53.0, -8.0",2024-01-02T13:00:00+01:00,8.578760,NaN,NaN,95.543404,NaN,4.772912,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-01-02 18:00:00+01:00,"53.0, -8.0",2024-01-02T13:00:00+01:00,8.439355,8.258630,8.670831,89.544479,8.966797,6.597095,193512.328125,-143503.7500,237173.546875,-393490.00,343927.250,NaN,NaN
3,2024-01-02 15:00:00+01:00,"53.0, -8.0",2024-01-02T13:00:00+01:00,8.604425,8.436273,8.610773,94.749344,1.980469,6.348939,102847.335938,-34832.3750,125503.992188,-144431.75,98722.250,NaN,NaN
4,2024-01-02 16:00:00+01:00,"53.0, -8.0",2024-01-02T13:00:00+01:00,8.821252,8.658197,8.885706,89.711876,2.987793,6.793076,164491.343750,-74023.1250,201342.750000,-228390.50,176408.250,NaN,NaN

In [96]:
df_meteo_2018_2024['date'] = pd.to_datetime(df_meteo_2018_2024['Forecast timestamp'].apply(lambda x: str(x).split(' ')[0]), format='%Y-%m-%d', errors='coerce')
df_meteo_2018_2024['heure'] = df_meteo_2018_2024['Forecast timestamp'].apply(lambda x: ' '.join(str(x).split(' ')[1:]))
df_meteo_2018_2024.rename(columns={'Commune': 'région'}, inplace=True)

In [97]:
print(df_meteo_2018_2024['date'].unique())

<DatetimeArray>
['2024-01-02 00:00:00', '2024-01-03 00:00:00', '2024-01-04 00:00:00']
Length: 3, dtype: datetime64[ns]

## Courbe de charge + Météo :

Analyser comment les conditions météorologiques influencent la consommation énergétique.

In [3]:
df_courbe= pd.read_csv('/home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/data/courbe_de_charge_data_2018_2024.csv', sep=';')

In [4]:
len(df_courbe)

33720

In [5]:
df_courbe.columns

Index(['Date', 'Opérateur', 'Secteur d'activité', 'Région', '00:00', '01:00',
       '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00',
       '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00',
       '18:00', '19:00', '20:00', '21:00', '22:00', '23:00',
       'Consommation journalière (MWh - PCS 0°C)', 'Statut', 'Code Région'],
      dtype='object')

In [4]:
df_courbe.head()

,Date,Opérateur,Secteur d'activité,Région,00:00,01:00,02:00,03:00,04:00,05:00,...,17:00,18:00,19:00,20:00,21:00,22:00,23:00,Consommation journalière (MWh - PCS 0°C),Statut,Code Région
0,2018-11-15,GRTgaz,GRD/ELD,Hauts-de-France,6880.095246,6528.268021,6144.566962,5664.628031,4918.453621,4395.030464,...,7001.817276,6694.593526,6445.448801,6321.526906,6378.954872,6741.885649,6930.526476,148113.988853,Définitif,32
1,2018-11-15,GRTgaz,GRD/ELD,Bretagne,2110.896535,2059.767997,1990.815709,1870.148193,1721.481878,1594.060362,...,2370.913343,2191.167608,2121.721745,2048.258250,1913.272717,1936.700019,2039.311112,49315.449932,Définitif,53
2,2018-11-17,GRTgaz,GRD/ELD,Centre-Val de Loire,2282.107402,2278.606575,2231.383763,2202.332200,2075.710309,1924.644254,...,2364.863435,2284.439556,2140.345876,2062.811052,2052.980156,2158.093871,2248.328380,52857.480641,Définitif,24
3,2018-11-17,GRTgaz,GRD/ELD,Grand Est,6524.794048,6443.147601,6301.118125,6102.402435,5460.846282,5047.194942,...,6468.399199,6018.304117,5615.152681,5439.034547,5549.546154,5995.559877,6464.507308,148051.371416,Définitif,44
4,2018-11-17,GRTgaz,GRD/ELD,Provence-Alpes-Côte d'Azur,2361.237249,2390.441883,2327.507200,2204.652624,1987.611119,1778.571306,...,2185.625397,2148.174493,2077.739885,2016.940684,2014.938904,2113.333418,2238.042596,50168.286896,Définitif,93

In [5]:
df_courbe.rename(columns={'Date': 'date'}, inplace=True)

In [8]:
df_courbe.head()

,date,Opérateur,Secteur d'activité,Région,00:00,01:00,02:00,03:00,04:00,05:00,...,17:00,18:00,19:00,20:00,21:00,22:00,23:00,Consommation journalière (MWh - PCS 0°C),Statut,Code Région
0,2018-11-15,GRTgaz,GRD/ELD,Hauts-de-France,6880.095246,6528.268021,6144.566962,5664.628031,4918.453621,4395.030464,...,7001.817276,6694.593526,6445.448801,6321.526906,6378.954872,6741.885649,6930.526476,148113.988853,Définitif,32
1,2018-11-15,GRTgaz,GRD/ELD,Bretagne,2110.896535,2059.767997,1990.815709,1870.148193,1721.481878,1594.060362,...,2370.913343,2191.167608,2121.721745,2048.258250,1913.272717,1936.700019,2039.311112,49315.449932,Définitif,53
2,2018-11-17,GRTgaz,GRD/ELD,Centre-Val de Loire,2282.107402,2278.606575,2231.383763,2202.332200,2075.710309,1924.644254,...,2364.863435,2284.439556,2140.345876,2062.811052,2052.980156,2158.093871,2248.328380,52857.480641,Définitif,24
3,2018-11-17,GRTgaz,GRD/ELD,Grand Est,6524.794048,6443.147601,6301.118125,6102.402435,5460.846282,5047.194942,...,6468.399199,6018.304117,5615.152681,5439.034547,5549.546154,5995.559877,6464.507308,148051.371416,Définitif,44
4,2018-11-17,GRTgaz,GRD/ELD,Provence-Alpes-Côte d'Azur,2361.237249,2390.441883,2327.507200,2204.652624,1987.611119,1778.571306,...,2185.625397,2148.174493,2077.739885,2016.940684,2014.938904,2113.333418,2238.042596,50168.286896,Définitif,93

In [6]:
df_courbe.rename(columns={'Région': 'région'}, inplace=True)

In [16]:
# Load the two datasets
df_meteo = pd.read_csv('/home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/data/combined_meteo_data.csv', sep=';')

print(df_meteo.columns)
print(df_meteo.head())

Index(['Unnamed: 0', 'TempMax_Deg', 'TempMin_Deg', 'Wind_kmh', 'Wet_percent',
       'Visibility_km', 'CloudCoverage_percent', 'Dayduration_hour', 'region',
       'day'],
      dtype='object')
             Unnamed: 0  TempMax_Deg  TempMin_Deg  Wind_kmh  Wet_percent
0     alsace_2018/01/01          9.0          6.0        25           74  \
1  aquitaine_2018/01/01         12.0         10.0        37           76
2    ardeche_2018/01/01          8.0          5.0        17           89
3   auvergne_2018/01/01          6.0          4.0        39           85
4  bourgogne_2018/01/01          8.0          5.0        38           86

   Visibility_km  CloudCoverage_percent Dayduration_hour     region
0          8.250                   70.0           8:23:0     alsace  \
1          9.375                   59.0           8:52:0  aquitaine
2         10.000                   51.0           8:53:0    ardeche
3          9.625                   60.0           8:45:0   auvergne
4          9.625                   76.0           8:33:0  bourgogne

          day
0  2018/01/01
1  2018/01/01
2  2018/01/01
3  2018/01/01
4  2018/01/01

In [17]:
df_meteo.rename(columns={'region': 'région'}, inplace=True)

In [18]:
df_meteo.rename(columns={'day': 'date'}, inplace=True)

In [18]:
df_meteo.head()

,Unnamed: 0,TempMax_Deg,TempMin_Deg,Wind_kmh,Wet_percent,Visibility_km,CloudCoverage_percent,Dayduration_hour,région,date
0,alsace_2018/01/01,9.0,6.0,25,74,8.250,70.0,8:23:0,alsace,2018/01/01
1,aquitaine_2018/01/01,12.0,10.0,37,76,9.375,59.0,8:52:0,aquitaine,2018/01/01
2,ardeche_2018/01/01,8.0,5.0,17,89,10.000,51.0,8:53:0,ardeche,2018/01/01
3,auvergne_2018/01/01,6.0,4.0,39,85,9.625,60.0,8:45:0,auvergne,2018/01/01
4,bourgogne_2018/01/01,8.0,5.0,38,86,9.625,76.0,8:33:0,bourgogne,2018/01/01

In [19]:
df_meteo.drop('Unnamed: 0', axis=1, inplace=True)

In [20]:
df_meteo.head()

,TempMax_Deg,TempMin_Deg,Wind_kmh,Wet_percent,Visibility_km,CloudCoverage_percent,Dayduration_hour,région,date
0,9.0,6.0,25,74,8.250,70.0,8:23:0,alsace,2018/01/01
1,12.0,10.0,37,76,9.375,59.0,8:52:0,aquitaine,2018/01/01
2,8.0,5.0,17,89,10.000,51.0,8:53:0,ardeche,2018/01/01
3,6.0,4.0,39,85,9.625,60.0,8:45:0,auvergne,2018/01/01
4,8.0,5.0,38,86,9.625,76.0,8:33:0,bourgogne,2018/01/01

In [21]:
len(df_meteo)

25921

In [20]:
df_meteo['date'] = pd.to_datetime(df_meteo['date'])

In [21]:
df_courbe['date'].dtypes

dtype('<M8[ns]')

In [22]:
df_courbe['date'] = pd.to_datetime(df_courbe['date'])

In [25]:
df_meteo['date'].dtypes

dtype('<M8[ns]')

In [26]:
df_courbe['date'].dtypes

dtype('<M8[ns]')

In [27]:
len(df_courbe)

33720

In [23]:
df_courbe['date'] = pd.to_datetime(df_courbe['date'])

In [24]:
print(df_courbe['région'].unique())

['Hauts-de-France' 'Bretagne' 'Centre-Val de Loire' 'Grand Est'
 "Provence-Alpes-Côte d'Azur" 'Auvergne-Rhône-Alpes'
 'Bourgogne-Franche-Comté' 'Île-de-France' 'Nouvelle-Aquitaine'
 'Occitanie' 'Normandie' 'Pays de la Loire']

In [25]:
print(df_meteo['région'].unique())

['alsace' 'aquitaine' 'ardeche' 'auvergne' 'bourgogne' 'bretagne' 'centre'
 'champagne-ardenne' 'corse' 'franche-comte' 'ile-de-re' 'ile-de-france'
 'languedoc-roussillon' 'limousin' 'lorraine' 'midi-pyrenees'
 'nord-pas-de-calais' 'normandie' 'pays-de-la-loire' 'picardie'
 'poitou-charentes' 'rh-ne-alpes' 'provence-alpes-c-te-d-azur']

In [26]:
merge_meteo_courbe = pd.merge(df_meteo, df_courbe, on=['date', 'région'], how='inner')

In [28]:
df_meteo['date'] = pd.to_datetime(df_meteo['date']).dt.date
df_courbe['date'] = pd.to_datetime(df_courbe['date']).dt.date

In [29]:
df_meteo['région'] = df_meteo['région'].str.lower().str.strip()
df_courbe['région'] = df_courbe['région'].str.lower().str.strip()

In [30]:
print(set(df_courbe['région']) - set(df_meteo['région']))
print(set(df_meteo['région']) - set(df_courbe['région']))

{'bourgogne-franche-comté', 'île-de-france', 'auvergne-rhône-alpes', 'occitanie', 'nouvelle-aquitaine', 'centre-val de loire', "provence-alpes-côte d'azur", 'hauts-de-france', 'pays de la loire', 'grand est'}
{'pays-de-la-loire', 'alsace', 'franche-comte', 'corse', 'champagne-ardenne', 'poitou-charentes', 'nord-pas-de-calais', 'limousin', 'lorraine', 'midi-pyrenees', 'provence-alpes-c-te-d-azur', 'ile-de-france', 'languedoc-roussillon', 'ardeche', 'picardie', 'ile-de-re', 'rh-ne-alpes', 'bourgogne', 'centre', 'auvergne', 'aquitaine'}

In [31]:
region_mapping = {
    'alsace': 'grand est',
    'aquitaine': 'nouvelle-aquitaine',
    'ardeche': 'auvergne-rhône-alpes',
    'auvergne': 'auvergne-rhône-alpes',
    'bourgogne': 'bourgogne-franche-comté',
    'franche-comte': 'bourgogne-franche-comté',
    'champagne-ardenne': 'grand est',
    'corse': 'corse',
    'limousin': 'nouvelle-aquitaine',
    'languedoc-roussillon': 'occitanie',
    'lorraine': 'grand est',
    'midi-pyrenees': 'occitanie',
    'nord-pas-de-calais': 'hauts-de-france',
    'picardie': 'hauts-de-france',
    'poitou-charentes': 'nouvelle-aquitaine',
    'pays-de-la-loire': 'pays de la loire',
    'provence-alpes-c-te-d-azur': "provence-alpes-côte d'azur",
    'ile-de-france': 'île-de-france',
    'ile-de-re': 'nouvelle-aquitaine',
    'rh-ne-alpes': 'auvergne-rhône-alpes',
    'centre': 'centre-val de loire'
}

In [32]:
df_meteo['région'] = df_meteo['région'].replace(region_mapping)

In [33]:
merge_meteo_courbe = pd.merge(df_meteo, df_courbe, on=['date', 'région'], how='inner')

In [34]:
merge_meteo_courbe.head()

,TempMax_Deg,TempMin_Deg,Wind_kmh,Wet_percent,Visibility_km,CloudCoverage_percent,Dayduration_hour,région,date,Opérateur,...,17:00,18:00,19:00,20:00,21:00,22:00,23:00,Consommation journalière (MWh - PCS 0°C),Statut,Code Région
0,22.0,20.0,12,73,9.875,43.0,15:52:0,grand est,2018-06-01,GRTgaz,...,1805.611903,1725.901480,1653.049044,1512.742171,1414.031993,1325.975356,1380.624943,34337.862199,Définitif,44
1,20.0,17.0,11,91,8.625,62.0,15:58:0,grand est,2018-06-01,GRTgaz,...,1805.611903,1725.901480,1653.049044,1512.742171,1414.031993,1325.975356,1380.624943,34337.862199,Définitif,44
2,20.0,17.0,13,93,7.375,67.0,15:56:0,grand est,2018-06-01,GRTgaz,...,1805.611903,1725.901480,1653.049044,1512.742171,1414.031993,1325.975356,1380.624943,34337.862199,Définitif,44
3,24.0,21.0,10,63,8.000,28.0,15:21:0,nouvelle-aquitaine,2018-06-01,GRTgaz,...,613.808844,565.225001,549.366286,489.606702,423.643182,376.969326,374.273267,10802.054254,Définitif,75
4,20.0,18.0,14,79,10.000,49.0,15:31:0,nouvelle-aquitaine,2018-06-01,GRTgaz,...,613.808844,565.225001,549.366286,489.606702,423.643182,376.969326,374.273267,10802.054254,Définitif,75

In [35]:
len(merge_meteo_courbe)

29986

In [36]:
merge_meteo_courbe.to_csv('fusion_courbe_meteo.csv',index=False, sep=';')

## Courbe de charge + Données de mouvement :

Intégrer des données de mouvement pour voir si les comportements de mobilité ont un impact sur la consommation énergétique.

In [8]:
df_mouvement= pd.read_csv('/home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/data/movement_data_2018_2024.csv', sep=';')

In [9]:
df_mouvement.head()

,date_de_debut,date_de_fin,motif,organisations_syndicales,metiers_cibles,population,nombre_grevistes,taux_grevistes,date_debut
0,2018-04-03,NaN,Reforme de la SNCF,"CGT,UNSA,SUD Rail,CFDT,FO",NaN,NaN,NaN,34.0,2018-04-03
1,2018-04-13,NaN,Reforme de la SNCF,"CGT,UNSA,SUD Rail,CFDT,FO",NaN,NaN,NaN,22.5,2018-04-13
2,2018-04-19,NaN,Reforme de la SNCF,"CGT,UNSA,SUD Rail,CFDT,FO",NaN,NaN,NaN,22.7,2018-04-19
3,2018-06-07,NaN,Reforme de la SNCF,"CGT,UNSA,SUD Rail,CFDT,FO",NaN,NaN,NaN,14.3,2018-06-07
4,2018-06-23,NaN,Reforme de la SNCF,"CGT,UNSA,SUD Rail,CFDT,FO",NaN,NaN,NaN,20.7,2018-06-23

In [10]:
df_mouvement['date'] = pd.to_datetime(df_mouvement['date_de_debut'], format='%Y-%m-%d', errors='coerce')
df_mouvement['date_de_fin'] = pd.to_datetime(df_mouvement['date_de_fin'], format='%Y-%m-%d', errors='coerce')

In [38]:
df_mouvement.head()

,date_de_debut,date_de_fin,motif,organisations_syndicales,metiers_cibles,population,nombre_grevistes,taux_grevistes,date_debut,date
0,2018-04-03,NaT,Reforme de la SNCF,"CGT,UNSA,SUD Rail,CFDT,FO",NaN,NaN,NaN,34.0,2018-04-03,2018-04-03
1,2018-04-13,NaT,Reforme de la SNCF,"CGT,UNSA,SUD Rail,CFDT,FO",NaN,NaN,NaN,22.5,2018-04-13,2018-04-13
2,2018-04-19,NaT,Reforme de la SNCF,"CGT,UNSA,SUD Rail,CFDT,FO",NaN,NaN,NaN,22.7,2018-04-19,2018-04-19
3,2018-06-07,NaT,Reforme de la SNCF,"CGT,UNSA,SUD Rail,CFDT,FO",NaN,NaN,NaN,14.3,2018-06-07,2018-06-07
4,2018-06-23,NaT,Reforme de la SNCF,"CGT,UNSA,SUD Rail,CFDT,FO",NaN,NaN,NaN,20.7,2018-06-23,2018-06-23

In [11]:
# Copier le DataFrame d'origine
df_courbe_process = df_courbe.copy()

# Ajouter une colonne 'movement_social' en vérifiant la présence de la date dans df_mouvement
df_courbe_process['movement_social'] = df_courbe_process['date'].isin(df_mouvement['date'])

# Ajouter la colonne 'motif' à partir de df_mouvement en fonction des dates correspondantes
# Utiliser merge pour une fusion basée sur la date, en prenant soin de garder les autres colonnes intactes
df_courbe_process = pd.merge(df_courbe_process, df_mouvement[['date', 'motif']], on='date', how='left')

# Afficher le nombre de lignes après la fusion et les noms des colonnes
print(f"Nombre de lignes après fusion: {len(df_courbe_process)}")
print(df_courbe_process.columns)

Nombre de lignes après fusion: 33720
Index(['date', 'Opérateur', 'Secteur d'activité', 'région', '00:00', '01:00',
       '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00',
       '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00',
       '18:00', '19:00', '20:00', '21:00', '22:00', '23:00',
       'Consommation journalière (MWh - PCS 0°C)', 'Statut', 'Code Région',
       'movement_social', 'motif'],
      dtype='object')

In [13]:
dates_in_mouvement = df_courbe['date'].isin(df_mouvement['date'])
print(f"Nombre de dates présentes dans df_mouvement : {dates_in_mouvement.sum()}")

Nombre de dates présentes dans df_mouvement : 1929

In [12]:
df_courbe_process.head()

,date,Opérateur,Secteur d'activité,région,00:00,01:00,02:00,03:00,04:00,05:00,...,19:00,20:00,21:00,22:00,23:00,Consommation journalière (MWh - PCS 0°C),Statut,Code Région,movement_social,motif
0,2018-11-15,GRTgaz,GRD/ELD,Hauts-de-France,6880.095246,6528.268021,6144.566962,5664.628031,4918.453621,4395.030464,...,6445.448801,6321.526906,6378.954872,6741.885649,6930.526476,148113.988853,Définitif,32,False,NaN
1,2018-11-15,GRTgaz,GRD/ELD,Bretagne,2110.896535,2059.767997,1990.815709,1870.148193,1721.481878,1594.060362,...,2121.721745,2048.258250,1913.272717,1936.700019,2039.311112,49315.449932,Définitif,53,False,NaN
2,2018-11-17,GRTgaz,GRD/ELD,Centre-Val de Loire,2282.107402,2278.606575,2231.383763,2202.332200,2075.710309,1924.644254,...,2140.345876,2062.811052,2052.980156,2158.093871,2248.328380,52857.480641,Définitif,24,False,NaN
3,2018-11-17,GRTgaz,GRD/ELD,Grand Est,6524.794048,6443.147601,6301.118125,6102.402435,5460.846282,5047.194942,...,5615.152681,5439.034547,5549.546154,5995.559877,6464.507308,148051.371416,Définitif,44,False,NaN
4,2018-11-17,GRTgaz,GRD/ELD,Provence-Alpes-Côte d'Azur,2361.237249,2390.441883,2327.507200,2204.652624,1987.611119,1778.571306,...,2077.739885,2016.940684,2014.938904,2113.333418,2238.042596,50168.286896,Définitif,93,False,NaN

In [14]:
print(df_courbe_process['motif'].unique())

[nan 'Journée interpro du 14 décembre' 'Pacte ferroviaire'
 'Journée des droits de la femme' 'Défense des métiers'
 'Réforme de la SNCF' 'Journée interpro du 24 septembre'
 'Reforme de la SNCF' 'Réforme des retraites'
 'Journée interpro du 9 octobre' 'Mouvement de rentrée'
 'Crise sanitaire, salaire, recrutement…'
 'Journée internationale du droit des femmes' 'Salaires'
 'Emploi, réorganisations, salaires...' 'Salaires, Fret, emploi…'
 'Salaires, emploi, retraite' 'NAO, salaires'
 'NAO, salaires, Statut, moyens' 'Salaires, Statut, moyens'
 "Salaires, pouvoir d'achat, emploi, conditions de travail, …"
 "Salaires, pouvoir d'achat, Statut" 'Salaires, pensions, droit de grève']

In [15]:
df_courbe_process.to_csv('fusion_courbe_mouvement.csv',index=False, sep=';')

## Courbe de charge + Prix du carburant :

Examiner l'impact des fluctuations des prix du carburant sur la consommation énergétique.

In [37]:
df_carburant = pd.read_csv('/home/grace/Projects_training_CDI/DetectionAnomalie/data-collection-kedro/data/prix_du_carburant_data_2018_2024.csv', sep=';')
df_carburant.head() # code postal pour  heatmap, prix, carburant, region

,id,Code postal,pop,adresse,ville,horaires,rupture,fermeture,geom,Mise à jour des prix,...,Nom Officiel EPCI,Numéro Département,Département,Code Officiel Région,Région,Services proposés,Carburant en rupture,Début rupture,Fin rupture,Automate 24-24 (oui/non)
0,17250003,17250,R,Rue du gros chêne,Saint-Porchaire,"{""@automate-24-24"": ""1"", ""jour"": [{""@id"": ""1"",...","{""@id"": ""4"", ""@nom"": ""GPLc"", ""@debut"": ""2020-0...",NaN,"45.814, -0.774",2024-08-06T16:44:05+02:00,...,CC Cœur de Saintonge,17,Charente-Maritime,75.0,Nouvelle-Aquitaine,"Laverie,Station de gonflage,Piste poids lourds...",GPLc,2020-01-17 16:24:12+01:00,NaN,Oui
1,17290001,17290,R,37 BIS PLACE DE LA REPUBLIQUE,AIGREFEUILLE-D'AUNIS,"{""@automate-24-24"": """", ""jour"": [{""@id"": ""1"", ...","{""@id"": ""4"", ""@nom"": ""GPLc"", ""@debut"": ""2018-0...",NaN,"46.117, -0.934",2024-07-23T11:41:52+02:00,...,CC Aunis Sud,17,Charente-Maritime,75.0,Nouvelle-Aquitaine,"Boutique non alimentaire,Station de gonflage,C...",GPLc,2018-01-04 17:34:08+01:00,NaN,Non
2,17290001,17290,R,37 BIS PLACE DE LA REPUBLIQUE,AIGREFEUILLE-D'AUNIS,"{""@automate-24-24"": """", ""jour"": [{""@id"": ""1"", ...","{""@id"": ""6"", ""@nom"": ""SP98"", ""@debut"": ""2018-0...",NaN,"46.117, -0.934",2024-07-23T11:41:52+02:00,...,CC Aunis Sud,17,Charente-Maritime,75.0,Nouvelle-Aquitaine,"Boutique non alimentaire,Station de gonflage,C...",SP98,2018-01-04 17:34:08+01:00,NaN,Non
3,17400006,17400,R,286 ROUTE DE SAINTES,ST JEAN D'ANGELY,"{""@automate-24-24"": ""1"", ""jour"": [{""@id"": ""1"",...","{""@id"": ""6"", ""@nom"": ""SP98"", ""@debut"": ""2023-1...",NaN,"45.93, -0.527",2024-08-01T22:54:36+02:00,...,CC Vals de Saintonge Communauté,17,Charente-Maritime,75.0,Nouvelle-Aquitaine,"Boutique alimentaire,Boutique non alimentaire,...",SP98,2023-11-02 10:45:28+01:00,NaN,Oui
4,17530003,17530,R,17 avenue de la presqu'ile,ARVERT,"{""@automate-24-24"": ""1"", ""jour"": [{""@id"": ""1"",...","{""@id"": ""5"", ""@nom"": ""E10"", ""@debut"": ""2023-02...",NaN,"45.742, -1.121",2024-08-05T11:06:49+02:00,...,CA Royan Atlantique,17,Charente-Maritime,75.0,Nouvelle-Aquitaine,"Boutique alimentaire,Vente de gaz domestique (...",E10,2023-02-28 10:15:40+01:00,NaN,Oui

In [38]:
df_carburant.columns

Index(['id', 'Code postal', 'pop', 'adresse', 'ville', 'horaires', 'rupture',
       'fermeture', 'geom', 'Mise à jour des prix', 'prix_id', 'Prix',
       'Carburant', 'com_arm_code', 'Commune / Arrondissement Municipal',
       'Code Officiel EPCI', 'Nom Officiel EPCI', 'Numéro Département',
       'Département', 'Code Officiel Région', 'Région', 'Services proposés',
       'Carburant en rupture', 'Début rupture', 'Fin rupture',
       'Automate 24-24 (oui/non)'],
      dtype='object')

In [39]:
print(df_carburant['Région'].unique())

['Nouvelle-Aquitaine' 'Centre-Val de Loire' 'Corse'
 'Bourgogne-Franche-Comté' 'Bretagne' 'Grand Est' 'Occitanie'
 "Provence-Alpes-Côte d'Azur" 'Auvergne-Rhône-Alpes' 'Normandie'
 'Hauts-de-France' 'Île-de-France' 'Pays de la Loire' nan]

In [16]:
df_carburant['Début rupture'] = pd.to_datetime(df_carburant['Début rupture'], format='%Y-%m-%d %H:%M', errors='coerce')
df_carburant['Fin rupture'] = pd.to_datetime(df_carburant['Fin rupture'], format='%Y-%m-%d %H:%M', errors='coerce')

In [17]:
df_carburant['date'] = df_carburant['Début rupture']

In [18]:
columns_to_keep = ["Code postal", "Mise à jour des prix","Prix", "Carburant","Région","Carburant en rupture", "Début rupture", "Fin rupture"]
df_carburant = df_carburant[columns_to_keep]

In [19]:
df_carburant.head()

,Code postal,Mise à jour des prix,Prix,Carburant,Région,Carburant en rupture,Début rupture,Fin rupture
0,17250,2024-08-06T16:44:05+02:00,1.815,SP98,Nouvelle-Aquitaine,GPLc,NaT,NaT
1,17290,2024-07-23T11:41:52+02:00,1.799,Gazole,Nouvelle-Aquitaine,GPLc,NaT,NaT
2,17290,2024-07-23T11:41:52+02:00,1.913,SP95,Nouvelle-Aquitaine,SP98,NaT,NaT
3,17400,2024-08-01T22:54:36+02:00,0.869,E85,Nouvelle-Aquitaine,SP98,NaT,NaT
4,17530,2024-08-05T11:06:49+02:00,1.639,Gazole,Nouvelle-Aquitaine,E10,NaT,NaT

In [20]:
print(df_carburant['Région'].unique())

['Nouvelle-Aquitaine' 'Centre-Val de Loire' 'Corse'
 'Bourgogne-Franche-Comté' 'Bretagne' 'Grand Est' 'Occitanie'
 "Provence-Alpes-Côte d'Azur" 'Auvergne-Rhône-Alpes' 'Normandie'
 'Hauts-de-France' 'Île-de-France' 'Pays de la Loire' nan]

In [21]:
df_carburant = df_carburant.rename(columns={'Région': 'région'})

In [22]:
print(df_courbe['région'].unique())

['Hauts-de-France' 'Bretagne' 'Centre-Val de Loire' 'Grand Est'
 "Provence-Alpes-Côte d'Azur" 'Auvergne-Rhône-Alpes'
 'Bourgogne-Franche-Comté' 'Île-de-France' 'Nouvelle-Aquitaine'
 'Occitanie' 'Normandie' 'Pays de la Loire']

In [23]:
def batch_merge(df_courbe, df_carburant, batch_size=100000):
    merged_batches = []  # Liste pour stocker les résultats intermédiaires

    # Calcul du nombre total de lignes dans df_courbe
    total_rows = df_courbe.shape[0]

    # Parcours de df_courbe par batchs
    for start_row in range(0, total_rows, batch_size):
        end_row = min(start_row + batch_size, total_rows)
        df_courbe_batch = df_courbe.iloc[start_row:end_row]

        # Fusion du batch actuel avec df_carburant
        merged_batch = pd.merge(df_courbe_batch, df_carburant, on='région', how='inner')

        # Ajout du résultat intermédiaire à la liste
        merged_batches.append(merged_batch)

        # Optionnel : Afficher la progression
        print(f'Batch {start_row//batch_size + 1} sur {((total_rows - 1)//batch_size) + 1} fusionné avec succès.')

    # Concaténation de tous les batchs fusionnés pour obtenir le DataFrame final
    merged_df = pd.concat(merged_batches, ignore_index=True)

    return merged_df

# Utilisation de la fonction
merged_df = batch_merge(df_courbe, df_carburant, batch_size=100000)

# Vérification du résultat
print(f'Taille du DataFrame fusionné : {merged_df.shape}')

In [ ]:
merged_df.to_csv('merged_courbe_carburants.csv',index=False, sep=';')